*, ::after, ::before {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[data-original-title], abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul {
  margin-bottom: 0; }

ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b, strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }
  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none; }
    a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
      color: inherit;
      text-decoration: none; }
    a:not([href]):not([tabindex]):focus {
      outline: 0; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }

input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none; }
  [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

html, body {
  overflow-x: hidden; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 320px;
  color: #fff;
  background-color: #738088;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

ul, ol {
  margin: 0;
  padding: 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.img-fluid {
  max-width: 100%;
  display: block; }

.vkf-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  overflow-y: auto;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4); }
  .vkf-modal__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100%;
    margin: 50px 40px; }
    .vkf-modal__wrapper__content {
      background-color: #738088;
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
      position: relative;
      padding: 60px 40px; }
      .vkf-modal__wrapper__content__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-position: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
        background-size: 20px 20px;
        background-repeat: no-repeat; }
      .vkf-modal__wrapper__content h2 {
        font-size: 1.5rem;
        line-height: 1;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        margin-bottom: 20px; }

.vkfWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 40px 40px; }
  .vkfWrapper header {
    text-align: center;
    text-transform: uppercase; }
    .vkfWrapper header .vkf-logo {
      padding-bottom: 58px; }
      .vkfWrapper header .vkf-logo span {
        display: block;
        margin: 0 auto;
        width: 160px; }
        .vkfWrapper header .vkf-logo span img {
          width: 100%;
          display: block; }
    .vkfWrapper header .vkf-content {
      border-top: 1px solid #fff; }
      .vkfWrapper header .vkf-content .vkf-inner {
        padding: 58px;
        border-bottom: 1px solid #fff; }
        .vkfWrapper header .vkf-content .vkf-inner h1 {
          font-size: 2.25rem;
          line-height: 1.3;
          letter-spacing: 0.5rem; }
        .vkfWrapper header .vkf-content .vkf-inner p {
          letter-spacing: 0.2rem;
          font-size: 0.8rem;
          line-height: 2; }
          .vkfWrapper header .vkf-content .vkf-inner p:last-child {
            margin-bottom: 0; }
    .vkfWrapper header nav {
      position: relative;
      padding-top: 58px; }
      .vkfWrapper header nav:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 58px;
        background: #fff;
        top: 0;
        left: calc(50% - 1px); }
      .vkfWrapper header nav ul {
        border: solid 1px #ffffff;
        display: inline-block; }
        .vkfWrapper header nav ul li {
          display: block;
          border-bottom: solid 1px #ffffff; }
          @media (min-width: 576px) {
            .vkfWrapper header nav ul li {
              border-bottom: 0;
              float: left;
              display: inline-block;
              border-right: solid 1px #ffffff;
              width: 25%; } }
          .vkfWrapper header nav ul li a {
            text-align: center;
            display: block;
            padding: 10px 40px;
            color: #fff;
            text-decoration: none;
            font-size: 0.8rem;
            letter-spacing: 0.2rem; }
          .vkfWrapper header nav ul li:first-child a {
            padding: 10px 20px; }
          .vkfWrapper header nav ul li:last-child {
            border-bottom: 0; }
            .vkfWrapper header nav ul li:last-child a {
              padding: 10px 35px; }
            @media (min-width: 576px) {
              .vkfWrapper header nav ul li:last-child {
                border-right: 0; } }
  @media (min-width: 576px) {
    .vkfWrapper section .vkf-galery {
      margin-right: -24px; } }
  .vkfWrapper section .vkf-galery__item {
    width: 100%;
    margin-bottom: 24px; }
    .vkfWrapper section .vkf-galery__item img {
      margin-bottom: 10px; }
    .vkfWrapper section .vkf-galery__item p {
      margin-bottom: 5px;
      letter-spacing: .1rem;
      font-size: .8rem; }
      .vkfWrapper section .vkf-galery__item p:last-child {
        margin-bottom: 0; }
    @media (min-width: 576px) {
      .vkfWrapper section .vkf-galery__item {
        float: left;
        width: calc(50% - 24px);
        margin-right: 24px; } }
  .vkfWrapper section form input {
    width: 100%;
    margin-bottom: 10px;
    height: 40px; }
    @media (min-width: 576px) {
      .vkfWrapper section form input {
        width: calc(50% - 5px);
        float: left;
        margin-left: 10px; }
        .vkfWrapper section form input:first-child {
          margin-left: 0; } }
  .vkfWrapper section form textarea {
    width: 100%;
    margin-bottom: 5px; }
  .vkfWrapper section form input, .vkfWrapper section form textarea {
    border: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    outline: none;
    letter-spacing: .2rem;
    font-size: .8rem; }
    .vkfWrapper section form input:focus, .vkfWrapper section form textarea:focus {
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2); }
  .vkfWrapper section form a {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .9rem; }
  .vkfWrapper section form .vkf-error {
    box-shadow: rgba(244, 67, 54, 0.6) 0 0 0 4px; }
  .vkfWrapper section hr {
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 20px 0; }
  .vkfWrapper section .details-contato {
    letter-spacing: .1rem;
    font-size: 1rem;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; }
  .vkfWrapper section .social-icons a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 36px; }
    .vkfWrapper section .social-icons a.facebook {
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='49.652px' height='49.652px' viewBox='0 0 49.652 49.652' style='enable-background:new 0 0 49.652 49.652;' xml:space='preserve' fill='%23ffffff'%3e%3cg%3e%3cg%3e%3cpath d='M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826 C49.652,11.137,38.516,0,24.826,0z M31,25.7h-4.039c0,6.453,0,14.396,0,14.396h-5.985c0,0,0-7.866,0-14.396h-2.845v-5.088h2.845 v-3.291c0-2.357,1.12-6.04,6.04-6.04l4.435,0.017v4.939c0,0-2.695,0-3.219,0c-0.524,0-1.269,0.262-1.269,1.386v2.99h4.56L31,25.7z '/%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e "); }
    .vkfWrapper section .social-icons a.instagram {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='512pt' viewBox='0 0 512 512' width='512pt' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff'%3e%3cpath d='m305 256c0 27.0625-21.9375 49-49 49s-49-21.9375-49-49 21.9375-49 49-49 49 21.9375 49 49zm0 0'/%3e%3cpath d='m370.59375 169.304688c-2.355469-6.382813-6.113281-12.160157-10.996094-16.902344-4.742187-4.882813-10.515625-8.640625-16.902344-10.996094-5.179687-2.011719-12.960937-4.40625-27.292968-5.058594-15.503906-.707031-20.152344-.859375-59.402344-.859375-39.253906 0-43.902344.148438-59.402344.855469-14.332031.65625-22.117187 3.050781-27.292968 5.0625-6.386719 2.355469-12.164063 6.113281-16.902344 10.996094-4.882813 4.742187-8.640625 10.515625-11 16.902344-2.011719 5.179687-4.40625 12.964843-5.058594 27.296874-.707031 15.5-.859375 20.148438-.859375 59.402344 0 39.25.152344 43.898438.859375 59.402344.652344 14.332031 3.046875 22.113281 5.058594 27.292969 2.359375 6.386719 6.113281 12.160156 10.996094 16.902343 4.742187 4.882813 10.515624 8.640626 16.902343 10.996094 5.179688 2.015625 12.964844 4.410156 27.296875 5.0625 15.5.707032 20.144532.855469 59.398438.855469 39.257812 0 43.90625-.148437 59.402344-.855469 14.332031-.652344 22.117187-3.046875 27.296874-5.0625 12.820313-4.945312 22.953126-15.078125 27.898438-27.898437 2.011719-5.179688 4.40625-12.960938 5.0625-27.292969.707031-15.503906.855469-20.152344.855469-59.402344 0-39.253906-.148438-43.902344-.855469-59.402344-.652344-14.332031-3.046875-22.117187-5.0625-27.296874zm-114.59375 162.179687c-41.691406 0-75.488281-33.792969-75.488281-75.484375s33.796875-75.484375 75.488281-75.484375c41.6875 0 75.484375 33.792969 75.484375 75.484375s-33.796875 75.484375-75.484375 75.484375zm78.46875-136.3125c-9.742188 0-17.640625-7.898437-17.640625-17.640625s7.898437-17.640625 17.640625-17.640625 17.640625 7.898437 17.640625 17.640625c-.003906 9.742188-7.898437 17.640625-17.640625 17.640625zm0 0'/%3e%3cpath d='m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm146.113281 316.605469c-.710937 15.648437-3.199219 26.332031-6.832031 35.683593-7.636719 19.746094-23.246094 35.355469-42.992188 42.992188-9.347656 3.632812-20.035156 6.117188-35.679687 6.832031-15.675781.714844-20.683594.886719-60.605469.886719-39.925781 0-44.929687-.171875-60.609375-.886719-15.644531-.714843-26.332031-3.199219-35.679687-6.832031-9.8125-3.691406-18.695313-9.476562-26.039063-16.957031-7.476562-7.339844-13.261719-16.226563-16.953125-26.035157-3.632812-9.347656-6.121094-20.035156-6.832031-35.679687-.722656-15.679687-.890625-20.6875-.890625-60.609375s.167969-44.929688.886719-60.605469c.710937-15.648437 3.195312-26.332031 6.828125-35.683593 3.691406-9.808594 9.480468-18.695313 16.960937-26.035157 7.339844-7.480469 16.226563-13.265625 26.035157-16.957031 9.351562-3.632812 20.035156-6.117188 35.683593-6.832031 15.675781-.714844 20.683594-.886719 60.605469-.886719s44.929688.171875 60.605469.890625c15.648437.710937 26.332031 3.195313 35.683593 6.824219 9.808594 3.691406 18.695313 9.480468 26.039063 16.960937 7.476563 7.34375 13.265625 16.226563 16.953125 26.035157 3.636719 9.351562 6.121094 20.035156 6.835938 35.683593.714843 15.675781.882812 20.683594.882812 60.605469s-.167969 44.929688-.886719 60.605469zm0 0'/%3e%3c/svg%3e"); }
    .vkfWrapper section .social-icons a.twitter {
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 486.392 486.392' style='enable-background:new 0 0 486.392 486.392;' xml:space='preserve' fill='%23ffffff'%3e%3cg%3e%3cg%3e%3cpath style='fill:%23ffffff;' d='M243.196,0C108.891,0,0,108.891,0,243.196s108.891,243.196,243.196,243.196 s243.196-108.891,243.196-243.196C486.392,108.861,377.501,0,243.196,0z M364.186,188.598l0.182,7.752 c0,79.16-60.221,170.359-170.359,170.359c-33.804,0-65.268-9.91-91.776-26.904c4.682,0.547,9.454,0.851,14.288,0.851 c28.059,0,53.868-9.576,74.357-25.627c-26.204-0.486-48.305-17.814-55.935-41.586c3.678,0.699,7.387,1.034,11.278,1.034 c5.472,0,10.761-0.699,15.777-2.067c-27.39-5.533-48.031-29.7-48.031-58.701v-0.76c8.086,4.499,17.297,7.174,27.116,7.509 c-16.051-10.731-26.63-29.062-26.63-49.825c0-10.974,2.949-21.249,8.086-30.095c29.518,36.236,73.658,60.069,123.422,62.562 c-1.034-4.378-1.55-8.968-1.55-13.649c0-33.044,26.812-59.857,59.887-59.857c17.206,0,32.771,7.265,43.714,18.908 c13.619-2.706,26.448-7.691,38.03-14.531c-4.469,13.984-13.953,25.718-26.326,33.135c12.069-1.429,23.651-4.682,34.382-9.424 C386.073,169.659,375.889,180.208,364.186,188.598z'/%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e "); }
  .vkfWrapper footer {
    padding-top: 58px;
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    opacity: 0.75;
    text-transform: uppercase; }
