@import '_reset';

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	min-width: 320px;
	color:#fff;
  background-color: #738088;
  // background-image: url(../../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

ul, ol {
  margin: 0;
  padding: 0;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.clearfix {
  @include clearfix;
}

.vkf-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  z-index: 99999;
  &__close {
    position: absolute;
    top: 40px;
    left: calc(50% - 26px);
    width: 52px;
    height: 52px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='52px' height='52px' viewBox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve'%3e%3cg%3e%3ccircle fill='none' stroke='%23738088' stroke-width='2' stroke-miterlimit='10' cx='26' cy='26' r='25'/%3e%3cg%3e%3cline fill='none' stroke='%23738088' stroke-width='2' stroke-miterlimit='10' x1='33.571' y1='34.278' x2='18.722' y2='19.429'/%3e%3cline fill='none' stroke='%23738088' stroke-width='2' stroke-miterlimit='10' x1='33.571' y1='18.722' x2='18.722' y2='33.571'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #222;
  }
}

.vkfWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
	position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 40px 40px;
  header {
  	text-align: center;
  	text-transform: uppercase;
  	.vkf-logo {
	    padding-bottom: 38px;
	    span {
	    	display: block;
	    	margin: 0 auto;
	    	width: 208px;
	    	height: 208px;
		    img {
		    	width: 100%;
		    	display: block;
		    }
	    }
  	}
  	.vkf-content {
  		border-top: 1px solid #fff;
  		.vkf-inner {
  			padding: 58px;
    		max-height: 290px;
    		border-bottom: 1px solid #fff;
    		h1 {
			    font-size: 2.25rem;
			    line-height: 1.3;
			    letter-spacing: 0.5rem;
    		}
    		p {
    			letter-spacing: 0.2rem;
			    font-size: 0.8rem;
			    line-height: 2;
			    margin-bottom: 0;
    		}
  		}
  	}
  	nav {
  		position: relative;
	    padding-top: 58px;
	    &:before {
	    	content: '';
	    	position: absolute;
	    	width: 1px;
	    	height: 58px;
	    	background: #fff;
	    	top: 0;
	    	left: calc(50% - 1px);
	    }
	    ul {
	    	border: solid 1px #ffffff;
    		display: inline-block;
	    	li {
	    		float: left;
	    		display: inline-block;
	    		border-right: solid 1px #ffffff;
	    		width: 25%;
	    		a {
	    			text-align: center;
	    			display: block;
	    			padding: 10px 40px;
	    			color: #fff;
	    			text-decoration: none;
	    			font-size: 0.8rem;
	    			letter-spacing: 0.2rem;
	    		}
	    		&:first-child {
	    			a {
	    				padding: 10px 20px;
	    			}
	    		}
	    		&:last-child {
	    			border-right: 0;
	    			a {
	    				padding: 10px 35px;
	    			}
	    		}
	    	}
	    }
  	}
  }

  footer {
  	padding-top: 58px;
  	letter-spacing: 0.2rem;
    font-size: 0.6rem;
    opacity: 0.75;
    text-transform: uppercase;
  }
}